{% extends 'base-backend.html.twig' %}

{% block title %}Edit LivreImage{% endblock %}

{% block body %}
    <h1>Edit LivreImage</h1>
    <div class="d-flex justify-content-between py-2">
        <a href="{{ path('app_admin_livre_image_index') }}" class="btn btn-dark">Retour à la liste</a>
        {{ include('admin_livre_image/_delete_form.html.twig') }}
    </div>
    {{ include('admin_livre_image/_form.html.twig', {'button_label': 'Mise à jour'}) }}
{% endblock %}
{% block javascripts %}
<script>
    $('.select2').select2();
</script>
{% endblock %}